* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    font-size: 16px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

::-webkit-scrollbar:vertical {
    width: 10px;
}

body {
    font-family: Helvetica;
    height: 100%;
    display: grid;
    grid-template:
        "header" 150px
        "main" auto
        "footer" 75px/
        100%;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: header;
    padding: 0 2rem;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid lightgray;
    z-index: 1001;
}

a {
    color: black;
    text-decoration: none;
}

.logo img {
    width: 200px;
}

.navegacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 5%;
    padding: .3rem;
}

.navegacion a {
    position: relative;
    font-weight: 500;
}

.navegacion a::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 3px;
    background: #0a3093;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
    transition: none;
    bottom: -4px;
}

.navegacion a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    background-color: #0a3093;
    font-weight: 700;
    border-radius: 51px;
    border: 0;
    gap: 10px;
    width: 180px;
    height: 40px;
    font-size: .9rem;
}

.avatar {
    display: none;
}

.avatar img:hover {
    cursor: pointer;
}

.avatar img {
    border: 1px solid #0A3093 ;
    border-radius: 50%;
    object-fit: cover;
    width: 55px;
    height: 55px;
}

.menuDesp {
    display: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #051a4e;
}

main {
    grid-area: main;
    padding: 0 1rem;
    min-height: 100vh;
}

form {
    margin-top: 16px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cookies{
    display: none;
    flex-direction: column;
    pointer-events: all;
    gap: 10px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: white;
    top: 20%;
    right: 30%;
    left: 30%;
    z-index: 2;
    min-width: 700px;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1px #0A3093;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0px 0px 16px #0A3093;
}

.cookies img{
    width: 200px;
}

.seccion1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
    font-size: 1.3rem;
}



.seccion1 h3 {
    padding-bottom: .3em;
}

.buscar {
    border-radius: 32px;
    border: 1px solid lightgrey;
    height: 48px;
    overflow: hidden;
    width: 100%;
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.buscar:hover {
    border: 2px solid #0A3093;
}

.search {
    width: 100%;
    padding: 1em;
    font-size: 16px;
    border: 0;
}

.search::placeholder {
    font: var(--fa-font-solid);
    font-size: 14px;
}

.search:focus {
    outline: none;
}

.search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    content: url(https://icones.pro/wp-content/uploads/2021/08/icone-x-avec-cercle-gris.png);
    width: 20px;
    cursor: pointer;
    padding-left: .5rem;
}

.button {
    color: white;
    background-color: #0a3093;
    width: 113px;
    height: 48px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 51px;
    border: 0;
    margin-top: 10px;
}

.button:hover {
    cursor: pointer;
    background-color: #051a4e;
}

.seccion2,
.seccion3 {
    text-align: left;
    padding: 1em 0;
    font-size: 24px;
}

.seccion2 h3,
.seccion3 h3 {
    padding-bottom: .3rem;
}

.btnIzquierda,
.btnDerecha {
    display: none;
}

.productos {
    display: grid;
    grid-auto-flow: row;
    gap: 30px;
}

.productos::-webkit-scrollbar:horizontal {
    height: 7px;
}

.productos::-webkit-scrollbar-track-piece {
    background-color: rgba(211, 211, 211, 0.364);
    border-radius: 20px;
}

.productos .caja {
    display: grid;
    grid-template:
        "img top"
        "img bottom";
    grid-template-columns: 195px minmax(0, 1fr);
    grid-template-rows: 1fr auto;
    border: 1px solid lightgray;
    padding: 10px;
    column-gap: 10px;
    border-radius: 10px;
    text-align: center;
    transition: all .2s ease-in-out;
}


.productos .caja .img {
    grid-area: img;
}

.productos .caja .top {
    grid-area: top;
}

.productos .caja .bottom {
    grid-area: bottom;
}

.productos p,
h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.ayuda p{
    margin: 10px 0;

}

.ayuda > *{
    text-align: justify;
}

#nada {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#nada img {
    width: 200px;
}

#nada p {
    color: gray;
    text-align: center;
    font-weight: 600;
}

.productos img {
    object-fit: cover;
    width: 180px;
    height: 195px;
    border-radius: 10px;
}

footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 1px solid lightgray;
    flex-direction: column;
}

footer img {
    width: 120px;
}

#inputFoto {
    display: none;
}

/*MOVILES DE PANTALLA REDUCIDA*/
@media (max-width:350px) {
    header,
    main,
    .btn,
    .seccion1,
    .button,
    .seccion2,
    .seccion3,
    footer {
        font-size: 10px;
    }

    .btn {
        width: 80px;
        height: 10px;
        font-size: .5rem;
    }

    .btn img {
        width: 15px;
    }

    .button {
        width: 70px;
        height: 35px;
    }

    .buscar {
        height: 35px;
    }

    .productos .caja {
        grid-template-columns: 96px minmax(0, 1fr);
    }

    .productos img {
        width: 100px;
        height: 100px;
    }

}

/*TABLETS*/
@media (min-width: 600px) {
    .botones{
        gap: 30px;
    }
    .menuDesp {
        position: absolute;
        right: 5px;
        bottom: -108px;
        background-color: white;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: -1;
        border-radius: 5px;
        text-align: center;
    }

    .menuDesp button {
        background-color: transparent;
    }

    .menuDesp a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .menuDesp a:hover {
        background-color: #f1f1f1;
        border-radius: 5px;
        cursor: pointer;
    }

    .menuDesp a:hover:nth-child(3) {
        color: red;
    }

    .menuDesp #cerrarSesion:hover {
        color: red;
    }

    .show {
        display: block;
    }

    .btn {
        width: 140px;
        font-size: .875rem;
        width: 210px;
        height: 45px;
    }

    .productos .caja {
        grid-template: none;
        grid-template-columns: none;
        grid-template-rows: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: none;
        width: 300px;
        height: 440px;
        white-space: nowrap;

    }

    .productos .caja .img {
        grid-area: none;
    }

    .productos .caja .top {
        overflow: hidden;
        text-overflow: ellipsis;
        grid-area: none;
    }

    .productos .caja .bottom {
        grid-area: none;
    }

    .productos img {
        width: 260px;
        height: 350px;
    }

    .productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    #nada img {
        width: 500px;
    }

    footer {
        flex-direction: row;
    }
}


/*MODO ESCRITORIO*/
@media (min-width: 900px) {
    header{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 0;
        padding: .4em;
    }

    .perfil {
        display: none;
    }
    
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    body {
        display: grid;
        grid-template:
            "header" 100px
            "main" auto
            "footer" 50px/
            100%;
    }

    .btnDerecha,
    .btnIzquierda {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: none;
        position: absolute;
        z-index: 2;
        border: 0;
        cursor: pointer;
        width: 50px;
    }

    .btnDerecha {
        right: 37px;
        height: 450px;
    }

    .btnIzquierda {
        left: 37px;
        height: 450px;
    }

    .seccion2 {
        display: flex;
        flex-direction: column;
    }

    .productos {
        display: grid;
        padding: 10px 0;
        grid-template-columns: none;
        grid-auto-flow: column;
        overflow-y: hidden;
        overflow-x: hidden;
        scroll-behavior: smooth;
        grid-gap: 64px;
        margin: 0px 95px;
    }

    .productos .caja {
        margin: 15px;
    }

    .productos .caja:hover {
        transform: translateY(-10px);
        border: 2px solid #0A3093;
        box-shadow: inset 0px 0px 7px #0A3093;
    }

    .botones {
        margin-top: 0;
    }

    .navegacion {
        width: 100%;
        gap: 10px;
        padding: 20px;
    }

    .navegacion a::after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: -6px;
        left: 0;
        height: 3px;
        background: #0a3093;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .3s;
    }

    .navegacion a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .search::placeholder {
        font-size: 16px;
    }

    .seccion1 {
        font-size: 26px;
    }

    form {
        flex-direction: row;
    }

    .button {
        margin-top: 0px;
    }

    footer {
        flex-direction: row;
    }
}