* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}


.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(60deg,rgb(4,215,211), rgb(67,147,228), rgb(0, 79, 132));
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:transparent;
    box-sizing:border-box;
    left:50%;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: white;
    border: 2px solid white;
    border-radius: 50px;
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

h2 {
    font-size: 26px;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid black;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: .2s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: black;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: black;
    display: flex;
    justify-content: space-between;
}

.forget label input {
    margin-right: 3px;
}

.forget label a {
    color: black;
    text-decoration: none;
    margin-left: 60px;
}

.forget label a:hover {
    text-decoration: underline;
}

#ck {
    margin: 15px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #0a3093;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;

}

.register p a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 1em;

}

.register p a:hover {
    text-decoration: underline;
}

#fotoPerfil {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#fotoPerfil:hover {
    opacity: 50%;
}

#divFotoPerfil:hover > p {
    opacity: 1;
}

#inputFoto {
    visibility: hidden;
}

#divFotoPerfil {
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#divFotoPerfil p{
    opacity: 0;
}

