.bloque {
    display: none;
}

@media (min-width: 900px) {
    main {
        padding: 0;
    }

    .pagina {
        width: 100%;
        height: 100%;
    }

    .elementos {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 230px auto;
    }

    .productos {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        overflow-x: hidden;
        grid-auto-flow: row;
        margin: 0;
        font-size: 20px;
        gap: 0px;
        min-height: 100vh;
    }

    .productos a {
        height: 90%;
    }

    form {
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px 0;
    }

    .search {
        padding: 0.5rem;
    }

    .buscar {
        height: auto;
    }

    .filtro {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid lightgray;
    }

    .filtro h4 {
        text-align: center;
        margin-bottom: 5px;
    }

    .numeroElementos {
        opacity: .5;
    }

    .bloque {
        display: block;
        height: 100%;
        border-right: 1px solid lightgray;
    }

    aside {
        position: fixed;
        width: 230px;
    }

    .categorias {
        display: flex;
        flex-direction: column;
    }

    .categorias>* {
        display: flex;
        margin: .5rem 0;
    }

    .categorias input {
        margin-right: 5px;
        width: 17px;
        height: 17px;
    }

    .precio {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .precio input {
        width: 55px;
        padding: 0 10px;
        height: 30px;
        border-radius: 10px;
        border: 0;
    }

    .precio input:hover {
        border: 2px solid black;
    }

    .filtro select{
        padding: 10px;
        border-radius: 10px;
        border-color: lightgray;
        font-size: 16px;
        cursor: pointer;
    }
}