* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.cancelar {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.btnCancelar:hover {
    cursor: pointer;
}

.imagen {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    border-right: 2px dashed #0a3093;
}

.bg {
    animation: slide 2s ease-in-out infinite alternate;
    background-image: linear-gradient(60deg, rgb(4, 215, 211), rgb(67, 147, 228), rgb(0, 79, 132));
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.content {
    display: flex; 
    justify-content: space-around;  
    padding: 1rem;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-box {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tipo{
    font-size: 16px;
}

.inputbox {
    position: relative;
    margin: 10px 0;
    width: 400px;
    border-bottom: 2px solid black;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    pointer-events: none;
    transition: .2s;
}

input:focus~label,
input:valid~label {
    top: -5px;
    opacity: 0;
}

.inputbox input {
    width: 100%;
    height: 25px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: black;
}

canvas {
    border: 1px solid black;
    border-radius: 50%;
}

h1 {
    font-family: monospace;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #0a3093;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

button:hover{
    background-color: #051a4e;
}

.iniciar {
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 15px 0;
}

.iniciar p {
    color: black;
}

.iniciar p a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.iniciar p a:hover {
    text-decoration: underline;
}

#select {
    border: 0;
}

#inputFoto {
    border: none;
}