* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    margin: 1rem 0;
}

.datosEmpresa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #0A3093;
    box-shadow: inset 0px 0px 8px #0A3093;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
}

.datosPc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datosPc p {
    padding: 1rem;
    font-size: larger;
}

.logoEmp img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.mapa {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

#map {
    width: 400px;
    height: 300px;
    border: 1px solid lightgrey;
    box-shadow: 7px 6px 5px lightgrey;
    border-radius: 10px;
}

@media (min-width: 600px) {
    .datosEmpresa{
        margin: 0px 100px;
    }

    #map{
        width: 500px;
        height: 400px;
    }
}

@media (min-width: 900px) {
    .datosEmpresa {
        flex-direction: row;
    }

    #map {
        width: 900px;
        height: 700px;
        border: 1px solid lightgrey;
        box-shadow: 7px 6px 5px lightgrey;
        border-radius: 10px;
    }
}